html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;


}
div {
margin: auto;;
width: 60%;
background-color: #0DFFBE;
color: red;
border: 1px solid black;
margin-top: 15px;
border-radius: 5px;


}
h1 {
padding-top: 5px;
text-align: center;

}
h1, p, h2{

  padding-right: 10px;
  padding-left: 5px;
}
li{
  padding-bottom: 15px;
}
